.img {

height: 1600px;
width: 120px;
margin: 15px 15px;

}


#Re {
    background-color: blue;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:block;
  }
  