#uno{
background-color:darkcyan;
}

#dos{


background-color: aqua;
}

#tres{


 background-color: aquamarine;

}

body{

    background-color: cadetblue;

}

#cua{

background-color: transparent;


}
iframe{

width: 1500px;
height: 750px;

}
